@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body{
    font-family: 'Epilogue',  sans-serif;
    background-color: hsl(0, 0%, 98%) ;
    border: 0;
    margin: 0;
}

/* Css do Header */
.header__mobile{
    width: 85vw;
    margin: 3vh auto 3vh auto ;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 98%);
}

.menu__button{
    width: 30px;
    height: 25px;
    display: flex;
    align-content: flex-end;
}

.menu__open{
    background-color:  hsl(0, 0%, 98%);
    border-radius: 10px 20px;
    margin-left: auto;
    width: 0vw;
    overflow: hidden;
    height: 0vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100vw;
    transition: .25s;
}

.menu__open--active{
    left: 40vw;
    width: 60vw;
    height: 100vh;
    transition: .25s;
}

/* entrar e registrar */

.menu__login{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0px auto;
}

.menu__login--item{
    margin: 10px;
    border: 1px solid hsl(0, 0%, 41%);
    padding: 10px 20px;
    border-radius: 10px;
    width: 40vw;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
}

.menu__login--item:hover{
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

.menu__login--login{
    border:0px solid transparent
}

.menu__login--login:hover{
    border: 0px solid transparent;
}

/* menu items */

.menu__item{
    margin: 10px 0px 5px 0px;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);;
    border: none;
    padding: 5px 20px;
    width: 200px;
    text-align: start;
    display: inline-block;
    border-radius: 20px;
}

.menu__features{
    align-content: center;
    display: flex;
    flex-direction: column;
}

.menu__item:hover{
    color: hsl(0, 0%, 8%);
}

.menu__resources--off{
    height: 0px;
    overflow: hidden;
    display: none;
}



.menu__item--features, .menu__item--company{
    margin: 0px 10vw;
    padding: 1.5vh 0vh;
    font-size: 1em;
    font-weight: 700;
    text-align:start;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.icons{
    padding-right: 15px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.arrow{
    height: 10px;
    padding-left: 10px;
}

.header__item--logo--desktop{
    display: none;
}

@media screen and (min-width: 1440px){
    .header__mobile{
        display: none;
    }

    .header__item--logo--desktop{
        display: inline-block;
        margin: auto 4vw;
        align-self: center;
    }

    .menu__left{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        width: 60%;
    }

    .menu__item{
        margin: 0px;
        padding: 0px;  
        text-align: flex-start;
    }

    .menu__open{
        display: inline-flex;
        left: auto;
        flex-direction: row;
        position: relative;
        height: 80px;
        width: 100vw;
        padding: 0px;
        margin: auto;
        align-items: center;
        overflow: visible;
    }

    .menu__login{
        margin-left: 25vw ;
        width: auto;
        flex-direction: row;
        justify-self: flex-end;

        
    }

    .menu__login--item{
        text-align: center;
        padding: 1vh 1vw;
        margin: 0px;
        width: auto;
    }

    .menu__company, .menu__features{
        margin: 10px 10vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        border-radius: 10px;
        padding: 25px 20px;
        box-shadow: 2px 2px 4px 2px hsl(0, 0%, 41%);
        left: 15vw;
        top: 5vh;
    }

    .menu__features{
        left: 0vw;
        padding: 15px 10px;
    }
    
    .menu__item--features{
        width: auto;
        padding: 5px 5px 10px 20px;
        margin-bottom: 0px;
    }
    .menu__item--company{
        width: auto;
        padding: 7px 2px ;
        background-color: transparent;
    }
    .icons{
        width: 20px;
        height: 20px;
        display: inline-block;
    }
    
}
/* main */
.text__main{
    display: block;
    text-align: center;
    width: 90vw;
    margin: 0px auto;
}

.image__main{
    width: 100vw;
}

.text__main--bold{
    font-size: 2.6em;
    font-weight: 700;
}

.text__main--default{
    font-size: 1.2em;
    line-height: 1.5em;
    width: 100%;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    text-align: center;
}

.main__button{
    width: 30vw;
    margin: 25px auto;
}

.main__button--learn{
    width: 100%;
    padding: 10px 0px;
    border-radius: 13px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-size: 1.1em;
    border: 0px transparent;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.main__images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}

.main__image{
    height: 2vh;
}

.menu__company--off{
    height: 0px;
    width: 0px;
    display: none;
    overflow: hidden;
    border-radius: 0px;
}
.menu__features--off{
    height: 0px;
    width: 0px;
    display: none;
    overflow: hidden;
    border-radius: 0px;
}