@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body{
    font-family: 'Epilogue',  sans-serif;
    background-color: hsl(0, 0%, 98%) ;
    border: 0;
    margin: 0;
}

/* Css do Header */
.header__mobile{
    width: 85vw;
    margin: 3vh auto 3vh auto ;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 98%);
}

.menu__button{
    width: 40px;
}
.menu__open{
    background-color:  hsl(0, 0%, 98%);
    border-radius: 10px 20px;
    margin-left: auto;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100vw;
    transition: .25s;
}

.menu__open--active{
    left: 40vw;
    transition: .25s;
}

/* entrar e registrar */

.menu__login{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0px auto;
}

.menu__login--item{
    margin: 10px ;
    border: 1px solid hsl(0, 0%, 41%);
    padding: 10px 20px;
    border-radius: 10px;
    width: 40vw;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
}
.menu__login--item:hover{
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

.menu__login--login{
    border:0px solid transparent
}

.menu__login--login:hover{
    border: 0px solid transparent;
}

/* menu items */

.menu__item{
    margin: 10px 0px 5px 0px;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);;
    border: none;
    padding: 5px 20px;
    width: 200px;
    text-align: start;
    border-radius: 20px;
}
.menu__item:hover{
    color: hsl(0, 0%, 8%);
}

.menu__resources--off{
    height: 0px;
    overflow: hidden;
    display: none;
}

.menu__company--off{
    height: 0px;
    overflow: hidden;
} 

.menu__item--resources, .menu__item--company{
    margin: 10px 10vw;
    display: flex;
    flex-direction: column;
    padding: 3px;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.menu__item--resources{
    margin: 10px 15vw;
}

.icons{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 10vw;
}

.arrow{
    width: 15px;
    left: 190vw;
    top: 2.2vh;
    position: absolute;
}
.arrow-down{
    left: 19vw;
    top: 2.2vh;
}
.arrow-up{
    left: 19vw;
    top: 2.2vh;
}
.menu__button{
    display: flex;
    align-content: flex-end;
}

/* main */
.text__main{
    display: block;
    text-align: center;
    width: 90vw;
    margin: 0px auto;
}

.image__main{
    width: 100vw;
}

.text__main--bold{
    font-size: 2.6em;
    font-weight: 700;
}

.text__main--default{
    font-size: 1.2em;
    line-height: 1.5em;
    width: 100%;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    text-align: center;
}

.main__button{
    width: 30vw;
    margin: 25px auto;
}

.main__button--learn{
    width: 100%;
    padding: 10px 0px;
    border-radius: 13px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-size: 1.1em;
    border: 0px transparent;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.main__images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}

.main__image{
    height: 2vh;
}